/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.SideBar {
  height: 100vh;
  background: #ffffff;
  position: fixed;
}
.ant-layout-sider,
.ant-layout-sider-dark,
.SideBar {
  flex: 0 0 200px !important;
  max-width: 60px !important;
  min-width: 35px !important;
  width: 200px !important;
}
.Logo img {
  width: 60px;
  height: 60px;
}
.midicon {
  margin-top: 100px;
}
.midicon img {
  width: 35px;
  height: 35px;
  /* margin-bottom: 10px; */
}
.ant-menu-item,
.ant-menu-item-only-child {
  padding-left: 10px !important;
}
.ant-menu-item,
.ant-menu-item-only-child,
.midicon3 {
  padding-left: 10px !important;
}
.boticon {
  width: 30px;
  height: 30px;
  margin: 70px 15px;
}
.boticon img {
  margin-top: 15px;
}
.ant-layout-header {
  background: #F4F9FF !important;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 70px !important;
  padding: 0 20px !important;
  margin-left: 70px;
}
.headright{
  margin-left: 150px;
  border-radius: 5px;
}
.ant-layout {
  background: #F4F9FF;
  /* height: fit-content; */
}
.lefthead {
  font-weight: 700;
  font-size: 28px;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
}
.ant-btn-primary {
  /* width: 150px !important; */
  /* float: right; */
  margin-top: 20px;
  /* font-family: 'Montserrat', sans-serif; */
  /* margin-left: 40px; */
}
.midhead {
  margin-top: 5px;
  width: 50px !important;
  font-family: 'Montserrat', sans-serif;
}
.ant-input-affix-wrapper {
  margin-left: 120px !important;
  width: 40% !important;
  border-radius: 10px;
  border-style: solid;
  border-color: #2B78D4;
  color: #2B78D4;
}

.contentGrid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 0;
  column-gap: 0ch;
  margin: 0 50px 0 90px;
  /* margin-left: 70px; */
}
.card1 {
  border-radius: 20px;
}
.card1:hover{
  border-style: solid;
  border-width: 2px;
  border-color: #2B78D4;
}
.ant-card-body {
  padding: 9px !important;
}
.cardImg {
  margin: 5px 5px;
  width: 40px;
  height: 40px;
  background-color: #d1dcf4;
  border-radius: 5px;
}

.cardTitile {
  color: #002f68;
  font-weight: 700;
  font-style: bold;
  font-family: 'Montserrat', sans-serif;
}
.cardPara {
  font-weight: 400;
  font-size: 12px;
  color: #5c83b1;
  font-family: 'Montserrat', sans-serif;
}
.cardSpan {
  font-size: 14px;
  color: #5c83b1;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}
.card2Para{
  color: #7d7d7d;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px !important;
  font-family: 'Montserrat', sans-serif;
}
.card2btn{
  float: right;
  border-radius: 10px;
  margin: 10px 10px !important;
}

.card2{
  display: none;
}
.site-card-border-less-wrapper{
  display: block;
}
.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}


.ant-row{
  /* height: 150px !important; */
  margin:  0 !important;
}

.ant-menu-vertical, .ant-menu-item:not(:last-child), .ant-menu-vertical-left, .ant-menu-item:not(:last-child), .ant-menu-vertical-right, .ant-menu-item:not(:last-child), .ant-menu-inline, .ant-menu-item:not(:last-child){
  margin-bottom: 5px !important;
}
/* .ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title{
  align-items: normal !important;
} */
.ant-layout-content{
  margin: 15px 0px !important;
}
.btndiv{
  display: flex;
  justify-content: space-between;
}
.deletebtn{
  border-radius: 5px;
  /* width: 65px !important; */
  margin: 10px 0px 0 70px;
}
.ant-input{
  /* flex-basis: 40%; */
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid #999;
}
.col2para{
  color: #002F68;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  padding-left: 30px;
  font-family: 'Montserrat', sans-serif;
}
.col3field{
  /* font-family: 'Montserrat', sans-serif;
  line-height: 22px; */
}